<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公司端</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" th:href="@{../css/company/index.css}"/>
    <link rel="stylesheet" th:href="@{../css/company/base.css}"/>
    <link rel="stylesheet" th:href="@{../css/company/ui.css}"/>
    <script th:src="@{../../js/main.js}"></script>
    <script th:src="@{../../js/jquery.min.js}"></script>
    <script th:src="@{../../js/jquery1.min.js}"></script>
    <script th:src="@{../../js/jquery-1.11.3.min.js}"></script>

</head>
<body>
    <header class="ui-flex">
        <div class="logo">
            盈希智慧酒店软件（公司端）
        </div>
        <div class="ui-flex-1"></div>
        <div class="name">你好！管理员01</div>
        <div class="out">退出</div>
    </header>

    <div class="layout ui-flex">
        <ul class="menu">
            <li>
                <a href="hotelManagement">
                    <img src="../../images/gsd_03.jpg">
                    酒店管理
                </a>
            </li>
            <li>
                <a href="memberManagement">
                    <img src="../../images/gsd_10.jpg">
                    会员管理
                </a>
            </li>
            <li>
                <a href="sumUp" class="ac">
                    <img src="../../images/gsd_12.jpg">
                    核算统计
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../images/gsd_14.jpg">
                    税金发票
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../images/gsd_16.jpg">
                    公    益
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../images/gsd_18.jpg">
                    客服中心
                </a>
            </li>
        </ul>

        <div class="ui-flex-1 l_right">
            <div class="search">
                <input type="text" placeholder="酒店名称/品牌/星级/城市区域" id="number">
                <button onclick="f()">
                    <img th:src="@{../../images/gsd_06.jpg}">
                    搜索
                </button>
            </div>

            <div class="times ui-flex">
                <span>查询期间：</span>
                <select id="yearBegin">
                    <option value="2019" th:selected="${yearBegin=='2019'}">2019</option>
                    <option value="2018" th:selected="${yearBegin=='2018'}">2018</option>
                    <option value="2017" th:selected="${yearBegin=='2017'}">2017</option>
                </select>
                <span>年</span>
                <select id="monthBegin">
                    <option value="1" th:selected="${monthBegin=='1'}">1</option>
                    <option value="2" th:selected="${monthBegin=='2'}">2</option>
                    <option value="3" th:selected="${monthBegin=='3'}">3</option>
                    <option value="4" th:selected="${monthBegin=='4'}">4</option>
                    <option value="5" th:selected="${monthBegin=='5'}">5</option>
                    <option value="6" th:selected="${monthBegin=='6'}">6</option>
                    <option value="7" th:selected="${monthBegin=='7'}">7</option>
                    <option value="8" th:selected="${monthBegin=='8'}">8</option>
                    <option value="9" th:selected="${monthBegin=='9'}">9</option>
                    <option value="10" th:selected="${monthBegin=='10'}">10</option>
                    <option value="11" th:selected="${monthBegin=='11'}">11</option>
                    <option value="12" th:selected="${monthBegin=='12'}">12</option>
                </select>
                <span>月</span>
                <select id="dayBegin">
                    <option value="1" th:selected="${dayBegin=='1'}">1</option>
                    <option value="2" th:selected="${dayBegin=='2'}">2</option>
                    <option value="3" th:selected="${dayBegin=='3'}">3</option>
                    <option value="4" th:selected="${dayBegin=='4'}">4</option>
                    <option value="5" th:selected="${dayBegin=='5'}">5</option>
                    <option value="6" th:selected="${dayBegin=='6'}">6</option>
                    <option value="7" th:selected="${dayBegin=='7'}">7</option>
                    <option value="8" th:selected="${dayBegin=='8'}">8</option>
                    <option value="9" th:selected="${dayBegin=='9'}">9</option>
                    <option value="10" th:selected="${dayBegin=='10'}">10</option>
                    <option value="11" th:selected="${dayBegin=='11'}">11</option>
                    <option value="12" th:selected="${dayBegin=='12'}">12</option>
                    <option value="13" th:selected="${dayBegin=='13'}">13</option>
                    <option value="14" th:selected="${dayBegin=='14'}">14</option>
                    <option value="15" th:selected="${dayBegin=='15'}">15</option>
                    <option value="16" th:selected="${dayBegin=='16'}">16</option>
                    <option value="17" th:selected="${dayBegin=='17'}">17</option>
                    <option value="18" th:selected="${dayBegin=='18'}">18</option>
                    <option value="19" th:selected="${dayBegin=='19'}">19</option>
                    <option value="20" th:selected="${dayBegin=='20'}">20</option>
                    <option value="21" th:selected="${dayBegin=='21'}">21</option>
                    <option value="21" th:selected="${dayBegin=='22'}">22</option>
                    <option value="22" th:selected="${dayBegin=='23'}">23</option>
                    <option value="24" th:selected="${dayBegin=='24'}">24</option>
                    <option value="25" th:selected="${dayBegin=='25'}">25</option>
                    <option value="26" th:selected="${dayBegin=='26'}">26</option>
                    <option value="27" th:selected="${dayBegin=='27'}">27</option>
                    <option value="28" th:selected="${dayBegin=='28'}">28</option>
                    <option value="29" th:selected="${dayBegin=='29'}">29</option>
                    <option value="30" th:selected="${dayBegin=='30'}">30</option>
                    <option value="31" th:selected="${dayBegin=='31'}">31</option>
                </select>
                <span>日</span>
                <span>~</span>
                <select id="yearEnd">
                    <option value="2019" th:selected="${yearEnd=='2019'}">2019</option>
                    <option value="2018" th:selected="${yearEnd=='2018'}">2018</option>
                    <option value="2017" th:selected="${yearEnd=='2017'}">2017</option>
                </select>
                <span>年</span>
                <select id="monthEnd">
                    <option value="1" th:selected="${monthEnd=='1'}">1</option>
                    <option value="2" th:selected="${monthEnd=='2'}">2</option>
                    <option value="3" th:selected="${monthEnd=='3'}">3</option>
                    <option value="4" th:selected="${monthEnd=='4'}">4</option>
                    <option value="5" th:selected="${monthEnd=='5'}">5</option>
                    <option value="6" th:selected="${monthEnd=='6'}">6</option>
                    <option value="7" th:selected="${monthEnd=='7'}">7</option>
                    <option value="8" th:selected="${monthEnd=='8'}">8</option>
                    <option value="9" th:selected="${monthEnd=='9'}">9</option>
                    <option value="10" th:selected="${monthEnd=='10'}">10</option>
                    <option value="11" th:selected="${monthEnd=='11'}">11</option>
                    <option value="12" th:selected="${monthEnd=='12'}">12</option>
                </select>
                <span>月</span>
                <select id="dayEnd">
                    <option value="1" th:selected="${dayEnd=='1'}">1</option>
                    <option value="2" th:selected="${dayEnd=='2'}">2</option>
                    <option value="3" th:selected="${dayEnd=='3'}">3</option>
                    <option value="4" th:selected="${dayEnd=='4'}">4</option>
                    <option value="5" th:selected="${dayEnd=='5'}">5</option>
                    <option value="6" th:selected="${dayEnd=='6'}">6</option>
                    <option value="7" th:selected="${dayEnd=='7'}">7</option>
                    <option value="8" th:selected="${dayEnd=='8'}">8</option>
                    <option value="9" th:selected="${dayEnd=='9'}">9</option>
                    <option value="10" th:selected="${dayEnd=='10'}">10</option>
                    <option value="11" th:selected="${dayEnd=='11'}">11</option>
                    <option value="12" th:selected="${dayEnd=='12'}">12</option>
                    <option value="13" th:selected="${dayEnd=='13'}">13</option>
                    <option value="14" th:selected="${dayEnd=='14'}">14</option>
                    <option value="15" th:selected="${dayEnd=='15'}">15</option>
                    <option value="16" th:selected="${dayEnd=='16'}">16</option>
                    <option value="17" th:selected="${dayEnd=='17'}">17</option>
                    <option value="18" th:selected="${dayEnd=='18'}">18</option>
                    <option value="19" th:selected="${dayEnd=='19'}">19</option>
                    <option value="20" th:selected="${dayEnd=='20'}">20</option>
                    <option value="21" th:selected="${dayEnd=='21'}">21</option>
                    <option value="21" th:selected="${dayEnd=='22'}">22</option>
                    <option value="22" th:selected="${dayEnd=='23'}">23</option>
                    <option value="24" th:selected="${dayEnd=='24'}">24</option>
                    <option value="25" th:selected="${dayEnd=='25'}">25</option>
                    <option value="26" th:selected="${dayEnd=='26'}">26</option>
                    <option value="27" th:selected="${dayEnd=='27'}">27</option>
                    <option value="28" th:selected="${dayEnd=='28'}">28</option>
                    <option value="29" th:selected="${dayEnd=='29'}">29</option>
                    <option value="30" th:selected="${dayEnd=='30'}">30</option>
                    <option value="31" th:selected="${dayEnd=='31'}">31</option>
                </select>
                <span>日</span>
                <button onclick="f2()">
                    确定
                </button>
            </div>
            <div class="ui-flex items">
                <div class="item">
                    <span>酒店代码:</span><span th:text="${hotel.hotelID}">000</span>
                </div>
                <div class="item">
                    <span th:text="${hotel.hotelName}">北京天安酒店:</span><font><img src="../../images/star.jpg"><img src="../../images/star.jpg"><img src="../../images/star.jpg"><img src="../../images/star.jpg"><img src="../../images/star.jpg"></font>
                </div>
                <div class="item">
                    <span>地址:</span><span th:text="${hotel.address}">法大师傅十分是</span>
                </div>
                <div class="item">
                    <span>邮箱:</span><span th:text="${hotel.email}">5424124432@qq.com</span>
                </div>
                <div class="item">
                    <span>评价星级:</span><b th:text="${hotel.starLevel}">4.86</b>
                </div>
            </div>

            <div class="ui-flex items">
                <div class="item">
                    <span>负责人:</span><span th:text="${hotel.leader}">王皓</span>
                </div>
                <div class="item">
                    <span>座机:</span><span th:text="${hotel.Landline}">010-1258-7898</span>
                </div>
                <div class="item">
                    <span>微信:</span><span th:text="${hotel.wechat}">abc123</span>
                </div>
                <div class="item">
                    <span>手机:</span><span th:text="${hotel.tel}">14787878888</span>
                </div>
                <div class="item ui-flex">
                    <button class="btn1">上架通过</button>
                    <button class="btn2">强制下架</button>
                </div>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th rowspan="2">房型</th>
                    <th rowspan="2" style="width: 200px">图片</th>
                    <th rowspan="2">上架间数</th>
                    <th colspan="2">普通价格</th>
                    <th colspan="2">会员团体价</th>
                    <th colspan="4">增值服务价格(n表示次数)</th>
                    <th rowspan="2">佣金</th>
                    <th rowspan="2">其他</th>
                    <th rowspan="2">结算总数</th>
                </tr>
                <tr>
                    <th>普价</th>
                    <th>普价税金</th>
                    <th>团价</th>
                    <th>团价税金</th>
                    <th>生日房(n)</th>
                    <th>求婚房(n)</th>
                    <th>婚房(n)</th>
                    <th>其他(n)</th>
                </tr>
                </thead>
                <tbody id="roomList">
                <tr th:each="room:${hotel.rooms}">
                    <td>
                        <li th:if="${room.roomType} eq 'a'">大床房</li>
                        <li th:if="${room.roomType} eq 'b'">豪华大床房</li>
                        <li th:if="${room.roomType} eq 'c'">双床</li>
                        <li th:if="${room.roomType} eq 'd'">精品双床</li>
                        <li th:if="${room.roomType} eq 'e'">套房</li>
                        <li th:if="${room.roomType} eq 'f'">豪华套房</li>
                        <li th:if="${room.roomType} eq 'g'">连通房</li>
                        <li th:if="${room.roomType} eq 'h'">无烟客房</li>
                        <li th:if="${room.roomType} eq 'i'">残疾人客房</li>
                        <li th:if="${room.roomType} eq 'g'">可加床房</li>
                        <li th:if="${room.roomType} eq 'k'">特惠房</li>
                        <li th:if="${room.roomType} eq 'l'">其他</li>
                    </td>
                    <td><img th:src="@{${room.photo}}"/></td>
                    <td th:text="${room.quantity}" id="quantity"></td>
                    <td th:text="${room.generalPrice}" id="generalPrice"></td>
                    <td th:text="${room.generalTax}" id="generalTax"></td>
                    <td th:text="${room.groupPrice}" id="groupPrice"></td>
                    <td th:text="${room.groupTax}" id="groupTax"></td>
                    <td th:each="sale:${room.sales}">
                        <span th:text="${sale.birthdayPrice}" id="birthdayPrice">100（12）</span>
                        (<span th:text="${sale.birthdayRoomSum}" id="birthdayRoomSum">100（12）</span>)
                    </td>
                    <td th:each="sale:${room.sales}">
                        <span th:text="${sale.proposePrice}" id="proposePrice">100（12）</span>
                        (<span th:text="${sale.proposeRoomSum}" id="proposeRoomSum">100（12）</span>)
                    </td>
                    <td th:each="sale:${room.sales}">
                        <span th:text="${sale.marriedPrice}" id="marriedPrice">100（12）</span>
                        (<span th:text="${sale.marriedSum}" id="marriedSum">100（12）</span>)
                    </td>
                    <td th:each="sale:${room.sales}">
                        <span th:text="${sale.otherPrice}" id="otherPrice">100（12）</span>
                        (<span th:text="${sale.otherRoomSum}" id="otherRoomSum">100（12）</span>)
                    </td>
                    <td th:each="sale:${room.sales}">
                        <div th:text="${sale.commission}" id="commission">100（12）</div>
                    </td>
                    <td th:each="sale:${room.sales}">
                        <div th:text="${sale.note}">100（12）</div>
                    </td>
                    <td th:each="sale:${room.sales}">
                        <span th:text="(${room.generalPrice}+${room.generalTax}+${room.groupPrice}+${room.groupTax})*${room.quantity}+${sale.birthdayPrice}*${sale.birthdayRoomSum}+${sale.proposePrice}*${sale.proposeRoomSum}+${sale.marriedPrice}*${sale.marriedSum}+${sale.otherPrice}*${sale.otherRoomSum}-${sale.commission}">100（12）</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<script th:inline="javascript">
    var data = [[${hotel}]];
    var hotelId=data.hotelID;
    var room= [[${hotel.rooms}]];
    $("#roomList").empty();
    buJU(room);
    // console.log(data);
    function f2() {
        var data = [[${Room}]];
        // console.log(data);
        var yearBg = $("#yearBegin").find("option:selected").val();
        var monthBg = $("#monthBegin").find("option:selected").val();
        var dayBg = $("#dayBegin").find("option:selected").val();
        var begin = yearBg + "-" + monthBg + "-" + dayBg;
        var yearEd = $("#yearEnd").find("option:selected").val();
        var monthEd = $("#monthEnd").find("option:selected").val();
        var dayEd = $("#dayEnd").find("option:selected").val();
        var end = yearEd + "-" + monthEd + "-" + dayEd;
        var num ="{";
        // num += jsonEncodeString("roomType",$("#roomTypeSearch").find("option:selected").val())+",";
        num += jsonEncodeString("dateBegin",begin)+",";
        num += jsonEncodeString("hotelId",hotelId)+",";
        num += jsonEncodeString("dateEnd",end);
        num +="}";
        // console.log(num);

        $.ajax({
            type:'post',
            data:num,
            contentType :'application/json;charset=UTF-8',
            dataType:'json',
            url :'/test/queryHstjBydate',
            success :function(data) {
                $("#roomList").empty();
                console.log(data);
                buJU(data);
            },
            error :function(e) {
                alert(e);
            }})

    }

    function buJU(data) {
        console.log(data);
        var birth = new Array(0,0,0,0,0,0,0,0,0,0,0,0);
        var propo = new Array(0,0,0,0,0,0,0,0,0,0,0,0);
        var marry = new Array(0,0,0,0,0,0,0,0,0,0,0,0);
        var other = new Array(0,0,0,0,0,0,0,0,0,0,0,0);
        var general = new Array(0,0,0,0,0,0,0,0,0,0,0,0);
        var group = new Array(0,0,0,0,0,0,0,0,0,0,0,0);
        var temp = new Array('a','b','c','d','e','f','g','h','i','j','k','l');
        var tempFollow = new Array('大床房','豪华大床房','双床','精品双床','套房','豪华套房','连通房','无烟客房','残疾人客房','可加床房','特惠房','其他');
        for(var i = 0;i < data.length;i++)
        {
            for(var j = 0;j < 11;j++)
            {
                if(data[i].roomType == temp[j]){
                    birth[j] += data[i].sales[0].birthdayRoomSum;
                    propo[j] += data[i].sales[0].proposeRoomSum;
                    marry[j] += data[i].sales[0].marriedSum;
                    other[j] += data[i].sales[0].otherRoomSum;
                    general[j] += data[i].sales[0].generalSum;
                    group[j] += data[i].sales[0].groupSum;
                }
            }
        }
        for(var i = 0;i < data.length;i++) {
            if($("#"+data[i].roomType).length > 0){
                continue;
            }
            else{
                for(var j = 0;j < 11;j++) {
                    if (data[i].roomType == temp[j]) {
                        $("#roomList").append("<tr id = " + data[i].roomType + "></tr>");
                        $("#" + data[i].roomType).append("<td>" + tempFollow[j] + "</td>>");
                        $("#" + data[i].roomType).append("<td><img" + " src=" + data[i].photo + "/></td>>");
                        $("#" + data[i].roomType).append("<td>" + data[i].quantity + "</td>>");
                        $("#" + data[i].roomType).append("<td>" + data[i].generalPrice + "</td>>");
                        $("#" + data[i].roomType).append("<td>" + data[i].generalTax + "</td>>");
                        $("#" + data[i].roomType).append("<td>" + data[i].groupPrice + "</td>>");
                        $("#" + data[i].roomType).append("<td>" + data[i].groupTax + "</td>>");
                        $("#" + data[i].roomType).append("<td><div>" + data[i].sales[0].birthdayPrice + "(" + birth[j] + ")" + "</div></td>>");
                        $("#" + data[i].roomType).append("<td><div>" + data[i].sales[0].proposePrice + "(" + propo[j] + ")" + "</div></td>>");
                        $("#" + data[i].roomType).append("<td><div>" + data[i].sales[0].marriedPrice + "(" + marry[j] + ")" + "</div></td>>");
                        $("#" + data[i].roomType).append("<td><div>" + data[i].sales[0].otherPrice + "(" + other[j] + ")" + "</div></td>>");
                        $("#" + data[i].roomType).append("<td>" + data[i].sales[0].commission + "</td>>");
                        $("#" + data[i].roomType).append("<td>" + data[i].sales[0].note + "</td>>");
                        var sum=0;
                        sum+=(data[i].generalPrice - data[i].generalTax) * general[j] + (data[i].groupPrice - data[i].groupTax) * group[j] + data[i].sales[0].birthdayPrice * birth[j] + data[i].sales[0].proposePrice * propo[j] + data[i].sales[0].marriedPrice * marry[j] + data[i].sales[0].otherPrice * other[j] - data[i].sales[0].commission;
                        // $("#" + data[i].roomType).append("<td>" + (data[i].generalPrice - data[i].generalTax + data[i].groupPrice - data[i].groupTax) * data[i].quantity + data[i].sales[0].birthdayPrice * birth[j] + data[i].sales[0].proposePrice * propo[j] + data[i].sales[0].marriedPrice * marry[j] + data[i].sales[0].otherPrice * other[j] - data[i].sales[0].commission + "</td>>");
                        $("#" + data[i].roomType).append("<td>" +sum+ "</td>>");
                        break;
                    }
                }
            }
        }
    }


    function f() {
        var num ="{";
        num += jsonEncodeString("name",$("#number").val());
        num +="}";
        // console.log(num);

        $.ajax({
            type:'post',
            data:num,
            contentType :'application/json;charset=UTF-8',
            dataType:'json',
            url :'/test/queryHS',
            success :function(data) {
                alert("OK");
                // $("#roomList").empty();
                // $("#roomList").append("<tr id = " + data.room.roomType + "></tr>");
                // //$("#" + data.room.roomType).append("<td>" + data.room.roomType + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.room.photo + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.room.quantity + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.room.generalPrice + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.room.generalTax + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.room.groupPrice + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.room.groupTax + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.birthdayRoomSum + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.roomproposeRoomSum + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.marriedSum + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.otherRoomSum + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.room.photo + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.commission + "</td>>");
                // $("#" + data.room.roomType).append("<td>" + data.room.photo + "</td>>");
            },
            error :function(e) {
                alert(e);
            }})
    }

    jsonEncodeString=function(label, value)
    {
        var tmpVal = "\""+label+"\"";
        tmpVal += ":";
        tmpVal +="\""+value+"\"";

        return tmpVal;
    };
</script>
</html>
