<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
        <meta name="format-detection" content="telephone=no" />
        <meta content="yes" name="mobile-web-app-capable">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <title>手机</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/ui.css">
        <script type="text/javascript" src="./js/rem.js"></script>
        <script type="text/javascript" src="./js/zepto.js"></script>
    </head>
    <body>
        <header>
            查房
        </header>

        <div class="cf_cont">
            <h3>房间: 301</h3>
            <select>
                <option>损坏物品</option>
                <option>损坏物品</option>
                <option>损坏物品</option>
            </select>

            <div class="top_upload">
                <img src="./images/chafang_03.jpg">
            </div>
            <h4>遗留物品</h4>
            <div class="top_upload">
                <img src="./images/chafang_03.jpg">
            </div>

            <div class="ui-flex bottom_btn">
                <button>完成</button>
                <span>剩余时间 <font>14分56秒</font></span>
            </div>
        </div>

        <footer class="ui-flex ui-cont-sa">
            <dl class="ac">
                <dt>
                    <img src="./images/home_0.jpg">
                    <img src="./images/home_1.jpg">
                </dt>
                <dd>
                    首页
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="./images/time_0.jpg">
                    <img src="./images/time_1.jpg">
                </dt>
                <dd>
                    历史任务
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="./images/people_0.jpg">
                    <img src="./images/people_1.jpg">
                </dt>
                <dd>
                    个人中心
                </dd>
            </dl>
        </footer>
    </body>
</html>

<script type="text/javascript" src="./js/index.js"></script>
