<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
        <meta name="format-detection" content="telephone=no" />
        <meta content="yes" name="mobile-web-app-capable">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <title>手机</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/ui.css">
        <script type="text/javascript" src="./js/rem.js"></script>
        <script type="text/javascript" src="./js/zepto.js"></script>
    </head>
    <body>
        <header>
            盈希智慧酒店软件（客服端）
        </header>
        <div class="i_top ui-flex">
            <div class="pic"><img src="./images/index_03.jpg"></div>
            <div class="name">
                <h3>张兰(工号:1234)</h3>
                <p>北京天安酒店</p>
            </div>
            <div class="ui-flex-1"></div>
            <div class="position">
                <span>客服部</span>
                <font>在岗</font>
            </div>
        </div>
        <div class="homes">
            <h3>房间:201</h3>
            <div class="ui-flex">
                <div class="item">
                    呼叫服务:
                </div>
                <div class="ui-flex-1">
                    饮用水2瓶
                </div>
            </div>
            <div class="ui-flex">
                <div class="item">
                    <button class="yingda">应答</button>
                </div>
                <div class="ui-flex-1">
                    剩余时间<font>56</font>秒
                </div>
            </div>
            <div class="ui-flex">
                <div class="item">
                    <button class="wancheng">完成</button>
                </div>
                <div class="ui-flex-1">
                    剩余时间<font>4分56秒</font>
                </div>
            </div>
        </div>

        <div class="homes">
            <h3>房间:301</h3>
            <div class="ui-flex">
                <div class="item">
                    呼叫服务:
                </div>
                <div class="ui-flex-1">
                    退房
                </div>
            </div>
            <div class="ui-flex">
                <div class="item">
                    <button class="yingda">查房应答</button>
                </div>
                <div class="ui-flex-1">
                    剩余时间<font>56</font>秒
                </div>
            </div>
            <div class="ui-flex">
                <div class="item">
                    <button class="qingsao">退房清扫</button>
                </div>
                <div class="ui-flex-1">
                    <button class="wancheng">完成</button>
                </div>
            </div>
        </div>

        <footer class="ui-flex ui-cont-sa">
            <dl class="ac">
                <dt>
                    <img src="./images/home_0.jpg">
                    <img src="./images/home_1.jpg">
                </dt>
                <dd>
                    首页
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="./images/time_0.jpg">
                    <img src="./images/time_1.jpg">
                </dt>
                <dd>
                    历史任务
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="./images/people_0.jpg">
                    <img src="./images/people_1.jpg">
                </dt>
                <dd>
                    个人中心
                </dd>
            </dl>
        </footer>
    </body>
</html>
<script type="text/javascript" src="./js/index.js"></script>