<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
        <meta name="format-detection" content="telephone=no" />
        <meta content="yes" name="mobile-web-app-capable">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <title>手机</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/ui.css">
        <script type="text/javascript" src="./js/rem.js"></script>
        <script type="text/javascript" src="./js/zepto.js"></script>
    </head>
    <body>
        <header>
            盈希智慧酒店软件（客服端）
        </header>

        <div class="search ui-flex ui-cont-sa">
            <input type="text">
            <span>年</span>
            <input type="text">
            <span>月</span>
            <input type="text">
            <span>日</span>
            <span>~</span>
            <input type="text">
            <span>年</span>
            <input type="text">
            <span>月</span>
            <input type="text">
            <span>日</span>
            <img src="./images/search_03.jpg">
        </div>

        <div class="search_items">
            <div class="ui-flex">
                <div class="ui-flex-1"></div>
                <div class="title">
                    绩效分值1:总计 <input type="text">
                </div>
            </div>
            <div class="top_title ui-flex">
                <h3>房间:201</h3>
                <h3>绩效分值1(5分)</h3>
            </div>

            <div class="ui-flex s_items">
                <span>呼叫时间</span>
                <div class="ui-flex-1">
                    2018.2.2 12:12:12
                </div>
            </div>

            <div class="ui-flex s_items">
                <span>呼叫服务</span>
                <div class="ui-flex-1">
                    饮用水2瓶
                </div>
            </div>

            <div class="ui-flex items">
                <span class="item">应答超时</span>
                <span class="item">0次</span>
                <span class="item">完成超时</span>
                <span class="item">0次</span>
            </div>

            <div class="ui-flex items">
                <span class="item">评价星级</span>
                <span class="item">五星</span>
                <span class="item">评价内容</span>
                <span class="item">热情快速!</span>
            </div>
        </div>

        <div class="search_items">
            <div class="ui-flex">
                <div class="ui-flex-1"></div>
                <div class="title">
                    绩效分值1:总计 <input type="text">
                </div>
            </div>
            <div class="top_title ui-flex">
                <h3>房间:201</h3>
                <h3>绩效分值1(5分)</h3>
            </div>

            <div class="ui-flex s_items">
                <span>呼叫时间</span>
                <div class="ui-flex-1">
                    2018.2.2 12:12:12
                </div>
            </div>

            <div class="ui-flex s_items">
                <span>呼叫服务</span>
                <div class="ui-flex-1">
                    饮用水2瓶
                </div>
            </div>

            <div class="ui-flex items">
                <span class="item">应答超时</span>
                <span class="item">0次</span>
                <span class="item">完成超时</span>
                <span class="item">0次</span>
            </div>

            <div class="ui-flex items">
                <span class="item">评价星级</span>
                <span class="item">五星</span>
                <span class="item">评价内容</span>
                <span class="item">热情快速!</span>
            </div>
        </div>

        <footer class="ui-flex ui-cont-sa">
            <dl class="ac">
                <dt>
                    <img src="./images/home_0.jpg">
                    <img src="./images/home_1.jpg">
                </dt>
                <dd>
                    首页
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="./images/time_0.jpg">
                    <img src="./images/time_1.jpg">
                </dt>
                <dd>
                    历史任务
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="./images/people_0.jpg">
                    <img src="./images/people_1.jpg">
                </dt>
                <dd>
                    个人中心
                </dd>
            </dl>
        </footer>
    </body>
</html>

<script type="text/javascript" src="./js/index.js"></script>
