<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
        <meta name="format-detection" content="telephone=no" />
        <meta content="yes" name="mobile-web-app-capable">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <title>手机</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/ui.css">
        <script type="text/javascript" src="./js/rem.js"></script>
        <script type="text/javascript" src="./js/zepto.js"></script>
    </head>
    <body>
        <header>
            盈希智慧酒店软件（客服端）
        </header>

        <div class="zc_cont">
            <div class="ui-flex">
                <div class="item">酒店代码:</div>
                <input type="text">
            </div>
            <div class="ui-flex">
                <div class="item">工    号:</div>
                <input type="text">
            </div>
            <div class="ui-flex">
                <div class="item">姓    名:</div>
                <input type="text">
            </div>
            <div class="ui-flex">
                <div class="item">所属部门:</div>
                <input type="text">
            </div>

        </div>
        
        <div class="grzx ui-flex ui-cont-sa">
            <button class="yingda">注    册</button>
        </div>

        <footer class="ui-flex ui-cont-sa">
            <dl class="ac">
                <dt>
                    <img src="./images/home_0.jpg">
                    <img src="./images/home_1.jpg">
                </dt>
                <dd>
                    首页
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="./images/time_0.jpg">
                    <img src="./images/time_1.jpg">
                </dt>
                <dd>
                    历史任务
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="./images/people_0.jpg">
                    <img src="./images/people_1.jpg">
                </dt>
                <dd>
                    个人中心
                </dd>
            </dl>
        </footer>
    </body>
</html>
<script type="text/javascript" src="./js/index.js"></script>